*{
    margin: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
}




/* header */

.header{
    width: 100%;
    background-color: #314d4add;
    color: black;
    position: fixed;
    font-family: 'Italianno', cursive; 
}
.header-container{
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.titulo{
    font-weight: 500;
    font-size: 9vh;
}
ul{
    display: flex;
    list-style: none;
}
.items{
    color: black;
    font-size: 5vh;
    padding-left: 65px;
}

/* showcase */

#conteudo-principal{
    display: flex;
    height: 100vh;
    background: url(./Imagens/pexels-dmitry-zvolskiy-1570807.jpg) center center/ cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    color: white;
    align-items: center;
    justify-content: center;
}

.section-1{
    
    font-size: 2.5vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.h1-section , .h3-section{
    margin: 20px;
}
.button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 8px;
    border: none;
    background-color: #314d4ade;
    color: black;
    font-weight: bold;
    font-size: 2.5vh;
    text-transform: uppercase;
    transition-property: padding;
    transition-duration: 0.5s;
}

.button:hover{
    padding: 15px 50px;

}

/* tabela de preço */

.precos{
    background-color: #d7dacfd9;
}

#tabela-precos{
    text-align: center;
    font-family: 'Italianno', cursive;
    padding: 20px;
    font-size: 4vh;
}

/* galeria */

#galeria{
    
    background-color: #2a2c31d4;
    display: grid;
    grid-template-areas: "r1 r1 r2 r2 r3 r3"
                          "r4 r4 r5 r5 r6 r6";
    width: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-gap: 15px;
    align-items: center;
    justify-content: center;
}

.rect{
    height: 35vh;
    width: 30vh;

}

.r1{
    background: url(./Imagens/WhatsApp\ Image\ 2022-08-13\ at\ 13.01.30.jpeg) center center / cover;
    grid-area: r1;
}
.r2{
    background: url(./Imagens/WhatsApp\ Image\ 2022-08-13\ at\ 13.01.30\ \(1\).jpeg) center center / cover;
    grid-area: r2;
}
.r3{
    background: url(./Imagens/WhatsApp\ Image\ 2022-08-13\ at\ 13.01.30\ \(2\).jpeg) center center / cover;
    grid-area: r3;
}
.r4{
    background: url(./Imagens/WhatsApp\ Image\ 2022-08-13\ at\ 13.01.31.jpeg) center center / cover;
    grid-area: r4;
}
.r5{
    background: url(./Imagens/WhatsApp\ Image\ 2022-08-13\ at\ 13.01.31\ \(1\).jpeg) center center / cover;
    grid-area: r5;
}
.r6{
    background: url(./Imagens/WhatsApp\ Image\ 2022-08-13\ at\ 13.01.31\ \(2\).jpeg) center center / cover;
    grid-area: r6;
}

/* footer */

#socials{
background-color: #2a2c31;
color: white;
display: flex;

}

.icons{
    text-decoration: none;
    color: white;
    margin: 10px 5px;
    font-size: 2.3vh;
    
}

.footer-container{

    text-align: center;
    width: 85%;
    margin: auto;
}

.endereco{
   
    color: white;
    font-size: 2.2vh;
}


/* media queries */

@media screen and (max-width: 800px) {

    .header{
        position: absolute;
        background-color: #314d4ac8;
    }
    .header-container{
        display: flex;
        flex-direction: column; 
        text-align: center;
    }

    .navebar{
        display: flex;
        position: relative;
        right: 80px;
    }

    .titulo{
        font-weight: 500;
        font-size: 7vh;
    }
    .items{
        color: black;
        font-size: 3.8vh;
        margin: 15px 0px;
    }

    ul{
        margin-left: 50px;
    }

    .h1-section{
        font-size: 3vh;
    }

    .h3-section{
        font-size: 2.5vh;
    }

    .button{
        font-size: 2vh;
    }


    .rect{
         height: 125px;
         width: 105px; 
    }  

}





